


header{
    background-color:mediumslateblue;
    color: white;
    padding:1rem,0;
    text-align: center;
}

 

 body,h1,h2,p,ul,li,a{  
   margin: 0;
   padding:0 ;
    list-style: none;
    text-decoration: none;
}
ul,li{
    color: black;
    background-color: black;
}
#h{     color:white; 
    background-color:black; 

}
p{
    text-align: left;
    
}
a{
    color: black;
    border-radius: 50%;
}
img{
    border-radius: 25%;
}
.a{
    color: black;
    text-align: center;
    background-color: darkgrey;
    
    

}
h2{
    text-align:left;
    color: black;
}
body{
     height: 1.6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:mediumslateblue;
    color: white;
}

nav{
    background-color:dodgerblue;
    color: white;
}
nav ul{
    display:flex;
    justify-content: center;
}
nav ul li{
    margin:0.1rem;
}
nav ul li a{
    color:white;
    padding: 0.5rem 1rem;
    display:block;
}
main{
    padding: 1rem;
}
main section{
    /* background-color:royalblue;
    color: WHITE; */
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 10px;a
}
#p{
    background-color:black;
    color:white;
    text-align: center;
    padding: 1rem 0;
}

#vini{
    display: flex;
    float: left;
    justify-content: space-between;
    border-radius: 50%;
}

#opi{
    display: flex;
    float: right;
    justify-content: space-between;
    border-radius: 50%;
    position:relative 50px;
}

#ghouli{
    display: flex;
    float: left;
    justify-content: space-between;
    position:relative 50px ;
    border-radius: 50%;
}

#berserki{
    display: flex;
    float: right;
    justify-content: space-between;
    position:relative 50px;
    border-radius: 50%;
}

#akirai{
    display: flex;
    float: left;
    justify-content: space-between;
    position:relative 50px;
    border-radius: 50%;
    
}

#helli{
    display: flex;
    float: right;
    justify-content: space-between;
    position:relative 50px;
    border-radius: 50%;
}

.next{
    background-color: white;
    color: navy;
    border-radius: 0px;
}


